@import '../../App.css';

.pin-style {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    object-fit: "contain";
    max-width: 280px;
  }

  #popuptitle {
    position: relative;
    text-align: center;
    font-size: 25px;
    white-space: pre-wrap;
    margin: 10px;
  
  }
  
  #popupdescription {
    position: relative;
    text-align: left;
    font-size: 15px;
    white-space: pre-wrap;
    margin: 10px;
  
  }

.popup-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    border-color: white;
    
}
  